@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.slider-wrapper {
    display: flex;
    width: 1000%;
    height: 100%;
    animation: daejeonSlide 30s infinite ease-in-out;
}
.main-image {
    width: 10%;
    height: 100%;
    object-fit: cover;
}
.main {
    left: 50%;
    top: 57.6%;
    width: 100%;   
    height: 1000px;
    transform: translate(-50%, -172.8%);
    overflow: hidden;
    position: relative;
}
body header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.356);
}
body header div {
    color: rgb(255, 255, 255);
}
@keyframes daejeonSlide {
    0%, 8%     { transform: translateX(0); }
    10%, 18%   { transform: translateX(-10%); }
    20%, 28%   { transform: translateX(-20%); }
    30%, 38%   { transform: translateX(-30%); }
    40%, 48%   { transform: translateX(-40%); }
    50%, 58%   { transform: translateX(-50%); }
    60%, 68%   { transform: translateX(-60%); }
    70%, 78%   { transform: translateX(-70%); }
    80%, 88%   { transform: translateX(-80%); }
    90%, 98%   { transform: translateX(-90%); }
    100%       { transform: translateX(-90%); }
}
body {
    background: linear-gradient(to left, #00944d, #00944ce9, #00944c76);
    z-index: -1;
    height: 3000px;
    -webkit-user-select: none; /* 사파리, 크롬 */
    -moz-user-select: none;    /* 파이어폭스 */
    -ms-user-select: none; /* 인터넷 익스플로러 */
    user-select: none;        /* 표준 */
}
#logo img {
    object-fit: contain;
    position: absolute;
    left: 9%;
    top: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%);
}
#name img {
    object-fit: contain;
    position: absolute;
    left: 5%;
    top: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%);
}
.text-button {
    text-decoration: none;
    position: absolute;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: white;
    font-family: 'Hahmlet', serif;
}
#history {
    left: 60%;
}
#restaurants {
    left: 67%;
}
#tour {
    left: 74%;
}
#festival {
    left: 81%;
}
#map {
    left: 88%;
}
#shopping {
    left: 95%;
}
.main-title {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Black Han Sans', serif;
    font-size: 100px; 
    white-space: nowrap;
}
.sub-title {
    color: white;
    font-family: 'Black Han Sans', serif;
    font-size: 70px;
    margin-top: 0px;
    margin-left: 600px;
}
#ww_dde730d6d6110 {
    position: absolute;
}
/* .map {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100%;
    height: 500px;
} */